<section class="bg-gray-900 text-white py-16 px-6 md:px-20 min-h-screen flex items-center justify-center" id="sobremi">
  <div class="max-w-5xl mx-auto">
    <h2 class="text-4xl font-bold mb-6  text-center">Sobre mí</h2>

    <div class="flex flex-col md:flex-row items-center md:items-start gap-10">
      
      <!-- Imagen de perfil -->
      <div class="flex-shrink-0">
        <img src="assets/img/obed12.jpeg" alt="Obed Alarcon" class="w-52 h-52 rounded-full border-4 mt-20  border-yellow-400 shadow-lg">
      </div>

      <!-- Texto de presentación -->
      <div>
        <p class="text-lg leading-relaxed text-gray-300">
          ¡Hola! Soy <span class="text-yellow-400 font-semibold">Obed Alarcon</span>, un desarrollador web en formación con enfoque en el <strong>desarrollo backend</strong>. Aunque aún no cuento con experiencia profesional, tengo una gran motivación por aprender y mejorar cada día.
        </p>

        <p class="mt-4 text-lg leading-relaxed text-gray-300">
          Estoy formándome como desarrollador backend, con experiencia autodidacta y a través de cursos prácticos. Aunque no pude concluir mis estudios universitarios, eso no ha sido un obstáculo para seguir aprendiendo y avanzar por mi cuenta. <span class="text-yellow-400">Node.js</span>, <span class="text-yellow-400">Express</span>, <span class="text-yellow-400">mysql</span> y otros entornos del ecosistema backend.
        </p>

        <p class="mt-4 text-lg leading-relaxed text-gray-300">
          He desarrollado proyectos personales usando Node.js, Express y MySQL, creando APIs RESTful, trabajando con bases de datos relacionales y aprendiendo buenas prácticas de desarrollo backend.
          Busco mi primera oportunidad profesional para seguir creciendo, aportar con compromiso y demostrar mi potencial en un equipo de desarrollo.
          
          
        </p>

        <div class="mt-6">
          <a href="#contact" class="bg-yellow-400 text-gray-900 font-bold py-3 px-6 rounded-full shadow hover:bg-yellow-300 transition">
            ¡Hablemos!
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
