<nav class="bg-gray-900 text-white px-6 py-4 flex items-center justify-between relative z-50">
  <div class="text-xl font-bold">Mi Portafolio</div>

  <!-- Botón hamburguesa solo en móvil -->
  <button #menuButton class="md:hidden focus:outline-none" (click)="toggleMenu()">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>

  <!-- Menú de navegación -->
  <ul 
  #menu
  class="md:flex md:space-x-6 
  flex-col md:flex-row 
  items-center 
  absolute md:static 
  top-16 left-0 w-full md:w-auto 
  bg-gray-900 md:bg-transparent 
  px-6 md:px-0 
  overflow-hidden 
  transition-all duration-500 ease-in-out 
  z-40"

    [ngClass]="{ 
      'hidden': !menuAbierto && !isDesktopView, 
      'flex': menuAbierto || isDesktopView 
    }"
  >
    <li><a routerLink="/home" routerLinkActive="text-yellow-400" class="hover:text-yellow-400">Home</a></li>
    <li><a routerLink="/skills" routerLinkActive="text-yellow-400" class="hover:text-yellow-400">Skills</a></li>
    <li><a routerLink="/proyects" routerLinkActive="text-yellow-400" class="hover:text-yellow-400">Proyectos</a></li>
    <li><a routerLink="/contact" routerLinkActive="text-yellow-400" class="hover:text-yellow-400">Contacto</a></li>
   <a href="#sobremi" class="hover:text-yellow-400">Sobre Mi</a>

  </ul>
</nav>
