<section class="bg-gray-800 text-white py-16 px-6 md:px-20">
  <h2 class="text-4xl font-bold text-center  mb-12">Habilidades Técnicas</h2>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-8 text-center">
    <!-- Habilidad 1 -->
    <div class="bg-gray-900 p-6 rounded-lg shadow-md hover:scale-105 transition">
      <img src="/public/img/html.png" class="h-12 mx-auto mb-4" alt="Node.js" />
      <p class="mb-2">Html</p>
      <div class="w-full bg-gray-700 rounded-full h-3">
        <div class="bg-gray-400 h-3 rounded-full" style="width: 70%;"></div>
      </div>
      <p class="text-sm text-gray-400 mt-1">70%</p>
    </div>

    <!-- Habilidad 2 -->
    <div class="bg-gray-900 p-6 rounded-lg shadow-md hover:scale-105 transition">
      <img src="/public/img/mysql.png" class="h-12 mx-auto mb-4" alt="MongoDB" />
      <p class="mb-2">mysql</p>
      <div class="w-full bg-gray-700 rounded-full h-3">
        <div class="bg-gray-400  h-3 rounded-full" style="width: 50%;"></div>
      </div>
      <p class="text-sm text-gray-400 mt-1">50%</p>
    </div>

    <!-- Habilidad 3 -->
    <div class="bg-gray-900 p-6 rounded-lg shadow-md hover:scale-105 transition">
      <img src="/public/img/docker.png" class="h-12 mx-auto mb-4" alt="TypeScript" />
      <p class="mb-2">Docker</p>
      <div class="w-full bg-gray-700 rounded-full h-3">
        <div class="bg-gray-400 h-3 rounded-full" style="width: 40%;"></div>
      </div>
      <p class="text-sm text-gray-400 mt-1">40%</p>
    </div>

    <!-- Habilidad 4 -->
    <div class="bg-gray-900 p-6 rounded-lg shadow-md hover:scale-105 transition">
      <img src="/public/img/git.png" class="h-12 mx-auto mb-4" alt="Git" />
      <p class="mb-2">Git</p>
      <div class="w-full bg-gray-700 rounded-full h-3">
        <div class="bg-gray-400 h-3 rounded-full" style="width: 40%;"></div>
      </div>
      <p class="text-sm text-gray-400 mt-1">40%</p>
    </div>

    <!-- Habilidad 5 -->
    <div class="bg-gray-900 p-6 rounded-lg shadow-md hover:scale-105 transition col-span-2 md:col-span-1">
      <img src="/public/img/sequelize.png" class="h-12 mx-auto mb-4" alt="Sequelize" />
      <p class="mb-2">Sequelize</p>
      <div class="w-full bg-gray-700 rounded-full h-3">
        <div class="bg-gray-400 h-3 rounded-full" style="width: 50%;"></div>
      </div>
      <p class="text-sm text-gray-400 mt-1">50%</p>
    </div>

    <div class="bg-gray-900 p-6 rounded-lg shadow-md hover:scale-105 transition col-span-2 md:col-span-1">
      <img src="/public/img/nodejs.png" class="h-12 mx-auto mb-4" alt="Sequelize" />
      <p class="mb-2">Node</p>
      <div class="w-full bg-gray-700 rounded-full h-3">
        <div class="bg-gray-400 h-3 rounded-full" style="width: 50%;"></div>
      </div>
      <p class="text-sm text-gray-400 mt-1">50%</p>
    </div>
  </div>
</section>
